<div class='container-fluid pie'>


<div class='row fila'>
   
       <div class='col-md-2 col-12 text-center'>
            <button> Get in touch</button>
       </div>

                <div class='col-md-2 col-12 text-center mt-3'>
                   About us
            </div>

            <div class='col-md-2 col-12 text-center mt-3'>
                Services
            </div>

            <div class='col-md-2 col-12 text-center mt-3'>
               Carrers
            </div>

            <div class='col-md-2 col-12 text-center mt-3'>
                Contract
            </div>

            <div class='col-md-2 col-12 text-left' >
                <img src='../../assets/logo_blanco.PNG'>
            </div>
    
</div>
</div>