
<div class="contenedor principal">

    <div class='row'>
        <div class="col-md-5">
           <p class="contratos"><span>1.</span> Flexible Contracts</p>
        </div>

        <div class="col-md-3 text-left">
         <img src='../../assets/Item 1.png'>   
        </div>

        <div class="col-md-4 descripcion">
          <p class='detalle'>Ofrecemos <strong>contratos a corto</strong><br>
            <strong>y largo plazo,</strong> con cancelación <br>flexible.
            </p>  
        </div>
    </div>


    <div class='row espaciado_top'>
        <div class="col-md-5">
           <p class="contratos"><span>2.</span> Account Manager</p>
        </div>

        <div class="col-md-3 text-left">
         <img src='../../assets/Item 2.png'>   
        </div>

        <div class="col-md-4 descripcion">
          <p class='detalle'>Listo para escalar tu equipo, <br><strong>disponibilidad full-time.</strong>

            </p>  
        </div>
    </div>


    <div class='row espaciado_top'>
        <div class="col-md-5">
           <p class="contratos"><span>3.</span> Monthly Billing</p>
        </div>

        <div class="col-md-3 text-left">
         <img src='../../assets/Item 3.png'>   
        </div>

        <div class="col-md-4 descripcion">
          <p class='detalle'>Ofrecemos <strong>contratos a corto</strong><br>
            <strong>y largo plazo,</strong> con cancelación <br>flexible.
            </p>  
        </div>
    </div>



    <div class='row espaciado_top'>
        <div class="col-md-5">
           <p class="contratos"><span>4.</span> Build up Teams</p>
        </div>

        <div class="col-md-3 text-left">
         <img src='../../assets/Item 4.png'>   
        </div>

        <div class="col-md-4 descripcion">
          <p class='detalle'>Contamos con un equipo <br> focalizado en conseguir <br> talentos las 24hs del día.

            </p>  
        </div>
    </div>

</div>
